<div class="contenedor">
	<div id="triContacto">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
	</div>
	<div class="contenidoDos">
		<div id="provicionaluno">
		<%= image_tag "contacto.jpg", :size=>"885 × 552" %>
		</div>
	</div>
	<div class="galeria">
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	</div>
</div>
