<div class="contenedor">
	<div id="triNosotros">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
	</div>
	<div class="contenido">
	<h1>Nosotros</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris diam, egestas eget dictum eget, convallis id nulla. Integer nec purus massa, a laoreet ante. Vestibulum at turpis a dui fringilla vestibulum eu vitae orci. Duis sapien libero, euismod sit amet consequat sollicitudin, fermentum vitae ligula. Cras consectetur leo ac eros malesuada sit amet malesuada nisi eleifend. Nunc malesuada consectetur nisl et hendrerit. Quisque fringilla est vel nibh tincidunt sit amet interdum mauris pretium. Etiam cursus lacus ac massa suscipit eget mattis sem consequat. Quisque tincidunt eros sit amet lacus dignissim eleifend. Quisque non justo urna. </p>
	<h2>Mision</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris diam, egestas eget dictum eget, convallis id nulla. Integer nec purus massa, a laoreet ante. Vestibulum at turpis a dui fringilla vestibulum eu vitae orci. Duis sapien libero, euismod sit amet consequat sollicitudin, fermentum vitae ligula. Cras consectetur leo ac eros malesuada sit amet malesuada nisi eleifend. Nunc malesuada consectetur nisl et hendrerit. Quisque fringilla est vel nibh tincidunt sit amet interdum mauris pretium. Etiam cursus lacus ac massa suscipit eget mattis sem consequat. Quisque tincidunt eros sit amet lacus dignissim eleifend. Quisque non justo urna. </p>
	<h2>Vision</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris diam, egestas eget dictum eget, convallis id nulla. Integer nec purus massa, a laoreet ante. Vestibulum at turpis a dui fringilla vestibulum eu vitae orci. Duis sapien libero, euismod sit amet consequat sollicitudin, fermentum vitae ligula. Cras consectetur leo ac eros malesuada sit amet malesuada nisi eleifend. Nunc malesuada consectetur nisl et hendrerit. Quisque fringilla est vel nibh tincidunt sit amet interdum mauris pretium. Etiam cursus lacus ac massa suscipit eget mattis sem consequat. Quisque tincidunt eros sit amet lacus dignissim eleifend. Quisque non justo urna. </p>
	<h2>Noticias Nuevas</h2>


	<% @todascategorias = Categoria.all %>
	<% if !@todascategorias.blank? %>
		<% for categoria in @todascategorias %>
		<h2><% link_to categoria.titulo, categoria %></h2>
		<% @todasnoticias = categoria.noticias %>
			<% for noticia in @todasnoticias %>
				<div class="preview">
				<h2><%= link_to noticia.titulo, noticia %></h2>
				<%= image_tag noticia.imagen, :size =>"150 × 150" %>
				</div>
		<% end %>
	<% end %>
	<div class="break">
	</div>
<% end %>
	</div>
	<div class="galeria">
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	<%= image_tag "baner.jpg", :size=>"317x182" %>
	</div>
</div>