<div class="contenedor">
	<div id="triCategorias">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
</div>
<div class="contenido">
<div class="forma">
<h1>Listing productos</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%= producto.nombre %></td>
    <td><%= producto.descripcion %></td>
    <td><%= producto.imagen %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />


<%= link_to 'Añadir Nuevo', new_producto_path %>

<div class="trade_pagination">
<%= will_paginate @productos %>
</div>

	</div>
	</div>
	
	<div class="galeria">
	<h2>Noticias Nuevas</h2>
		<% @todasnoticias = Noticia.find(:all, :order => 'titulo', :limit => 3) %>
			<% for noticia in @todasnoticias %>
				<div class="preview">
				<%= image_tag noticia.imagen, :size =>"317 × 182" %>
				<p><%= link_to noticia.titulo, noticia %></p>
			</div>
		<% end %>
							<div class="break">
					</div>
	</div>
	</div>