<div class="contenedor">
	<div id="triCategorias">
	<%= image_tag "triangulo.png", :size=>"60x36" %>
</div>
	<div class="contenido">
	<div class="forma">
<p id="notice"><%= notice %></p>

<div id="showProducto">
 <%= image_tag @producto.imagen_url %>
<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>
</div>


<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atras', productos_path %>
</div>
</div>
</div>